.bot{
    padding: 20px 15px;
    width: 250px ;
    color: gold;
    background-color: black;
    border: 2px solid gold;
    border-radius:40px;
    text-align: center;
    user-select: none;
    cursor: pointer;


}

.bot:hover{
    background-color:rgb(64,64,64);
    transition: background 1s;
}

#pos1{
    position: relative;
    
    top: 400px;

}
#pos2{
    position:relative;
    top: 400px;
    left: 400px;
}
#pos3{
    position:relative;
    top: 400px;
    left: 800px;
}